@charset "UTF-8";

@media screen and (min-width: 768px) {

    main {
        max-width: 800px;
    }

    .nav__list { 
        display: inline-block; 
    }

    .nav__itens {
        margin-left: 20px;
    }

    #icon__menu {
        display: none;
    }

    nav {
        background-color: var(--cor1);
    }
    
    nav > ul {
        list-style-type: none;
    }
    
    nav > ul > li {
        display: inline-block;
        width: 70px;
        background-color: var(--cor2);
        margin-left: 5px;
        padding: 8px;
        border-radius: 5px 0px 5px 0px ;
    }   
}