@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,400;6..72,700&display=swap');

:root {
    --color-1: #4A678C;
    --color-2: #657A8C;
    --color-3: #98A0A6;
    --color-4: #b8bbbfa2;
    --black: #0D0D0D;
    --white: #FFF;
    --box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

/* Configurações Mobile First */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Newsreader', serif;
    font-weight: normal;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
    width: 100%;
}

body {
    width: 100%;
    min-width: 280px;
    margin: auto;
    background-color: var(--color-4);
    color: var(--black);
}

header {
    background-color: var(--color-1);
    color: var(--white);
    padding: 20px;
    text-align: center;
}

.header__title {
    font-size: 2.5rem;
    font-weight: bold;
}

.header__subtitle {
    font-size: 1.3rem;
}

nav {
    width: 100%;
    position: sticky;
    top: -1px;
    box-shadow: var(--box-shadow);
}

#nav__list { 
    display: none;
}

#icon__menu {
    width: 100%;
}

.list__itens {
    font-size: 1.1rem;
}

#icon__menu, #nav__list {
    background-color: var(--color-3);
    color: var(--white);
    text-align: center;
}

#icon__menu, .list__itens {
    border-top: 1px solid var(--color-2);
}

#icon__menu:hover, .list__itens:hover {
    background-color: var(--color-2);
}

#icon__menu {
    padding: 5px 0;
}

.list__itens div {
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.nav__link {
    color: var(--cor5);
    font-size: 1.2em;
}

main {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
}

.section__title, .aside__title {
    padding: 20px 0;
    font-size: 1.5rem;
    color: var(--color-1); 
}

.article__author {
    text-indent: 20px;
    color: var(--color-2);
    padding-bottom: 20px;
}

p {
    padding-bottom: 10px;
}

.section__image {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    margin: 10px 0;
}

figcaption {
    font-size: .8rem;
    font-style: italic;
}

.aside__list {
    text-align: center;
    margin: auto;
    width: 220px;
}

.aside__card {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: var(--color-4);
    box-shadow: var(--box-shadow);
}

.aside__card:hover {
    background-color: var(--color-2);
}

.aside__link {
    color: var(--black);
}

.aside__item img{
    width: 200px;
    padding-bottom: 10px;
}

footer {
    background-color: var(--color-1);
    height: 60px;
    color: var(--white);
    font-size: 1.1rem;
    text-align: center;
    padding-top: 40px;
    box-shadow: var(--box-shadow);
}

.bold {
    font-weight: bold;
}